body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}


.zone {
  /*padding:30px 50px;*/
  /*cursor:pointer;*/
  color: rgb(0, 0, 0);
  font-size: 2em;
  border-radius: 4px;
  border: 1px solid #bbb;
  transition: all 0.3s linear;
}
.zone:hover {
  -webkit-box-shadow:#bbb 0px 5px 15px, inset #bbb 0px -10px 20px;
  -moz-box-shadow:#bbb 0px 5px 15px, inset #bbb 0px -10px 20px;
  -o-box-shadow:#bbb 0px 5px 15px, inset #bbb 0px -10px 20px;
  box-shadow:#bbb 0px 5px 15px, inset #bbb 0px -10px 20px;
}

/*NAV*/
/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
} */

.main-nav {
  background-color: #bbb;
  display: flex;
  list-style: none;
  margin: 0;
  font-size: 0.7em;
}

@media only screen and (max-width: 600px) {
  .main-nav {
    font-size: 0.5em;
    padding: 0;
  }
}

.push {
  margin-left: auto;
}

li {
  padding: 20px;
}

a {
  color: #000000;
  text-decoration: none;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #bbb;
  color: rgb(0, 0, 0);
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #8c928c;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
} 
.btn-checkout {
  background-color: #007bff;
  float: right;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
}

/*BANNER*/

body {
  margin: 0;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  background-color: #bbb;
  background-image: linear-gradient(326deg, rgb(43, 20, 20) 0%, #fff 74%);
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.mySlides {
  padding: 20px;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 20px;
  margin-top: -22px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(68, 65, 65, 0.8);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}

.btn-banner {
  background-color: #e6b71c;
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/*  Grid Panel**/
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
}

.box {
  background-color: rgb(255, 255, 255);
  padding: 40px;
  margin: 20px;
}

.box > img {
  width: 100%;
}
.zone {
  /* padding:30px 50px; */
  /*cursor:pointer;*/
  color: rgb(0, 0, 0);
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #bbb;
  transition: all 0.3s linear;
}
.info {
  display: flex;
  justify-content: space-between;
}
.btn-order {
  background-color: #007bff;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
